///////////////////////////////////////////////////
// Steps
///////////////////////////////////////////////////

.steps-section {
    padding: 5rem 0;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 80rem;
        margin: 0 auto;

        @media only screen and (max-width: 1280px) {
            max-width: 100%;
            padding: 0 2rem;
        }
    }

    &__container {
        &--left {
            flex: 0 0 6rem;
            height: 26.25rem;
            background: {
                image: url('../images/steps.png');
                size: contain;
                repeat: no-repeat;
                position: center;
            }
        }

        &--right {
            flex: 0 0 70.625rem;

            @media only screen and (max-width: 1280px) {
                flex: 1;
                padding-left: 1.875rem;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: {
            color: $primary-colour;
        }
        padding: 1.25rem;
        border-radius: 8px;
        margin-bottom: 2rem;
        @include drop-shadow;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &__icon {
            flex: 0 0 96px;
            height: 96px;
            background: {
                size: contain;
                repeat: no-repeat;
                position: center;
            }

            &--video {
                background: {
                    image: url('../images/icon-video.svg');
                }
            }
            &--like {
                background: {
                    image: url('../images/icon-like.svg');
                }
            }
            &--share {
                background: {
                    image: url('../images/icon-share.svg');
                }
            }
        }

        &__text {
            flex: 1;
            margin-left: 1.25rem;

            h2 {
                font: {
                    weight: 500;
                    size: 1.25rem;
                }
                margin-bottom: .625rem;
            }

            p {
                color: #e5e5e5;
            }
        }
    }
}